*{
	margin: 0;
}
body{
	background-color: white;
	color: white;
	font-family: "Open Sans" Arial, sans-serif;
	font-size: 16px;
}
h1{
	font-weight: normal;
	margin: 0;
	text-align: center;
}
article{
	padding: 1em;
}
header{
	background-color: #0089ad;
	color: #fffddd; 
	padding: 1em; 
}
input{
	padding: 0.5em;
	transition: all 0.1s ease;
}
input[type="text"]{
	width: 80%;
}
input[type="submit"]{
	background: #0089ad;
	border: 3px solid #dedede;
	color: white;
	width: 17%;
}
input[type="submit"]:hover{
	background: #009ec8;
}
section{
	display: inline-block;
	padding: 0;
	transition: all 1s ease;
	vertical-align: top;
}
#botonOpciones{
	background-color: #ccc;
	border-radius: 0.2em;
	border: 1px solid #666;
	color: #666;
	display: none;
	float: right;
	font-size: 2em;
	font-weight: bold;
	padding: 0 0.2em;
	text-decoration: none;
}
#boxMsg{
	animation:bounceInDown 1s both;
	background-color: #ccc;
	border: 1px solid #aaa;
	padding: 0.2em 0.2em 0.2em 1em;
}
#chat{ 
	width: 78%;
}
#lista{
	background-color: #bed9e0;
	border-radius: 2px;
	border: 2px solid #aaa;
	color: #000;
	font-size: 1em;
	height: 400px;
	margin-top:1em;
	overflow: auto;
}
#option{
	background-color: rgb(221, 221, 221);
	border-radius: 6px;
	color: #555;
	margin-top: 15px;
	transition: all 1s ease;
	width: 20%;
}
#option input{
	display: block;
	width: 90%;
}
@media all and (max-width: 1084px) {
	input[type="text"]{
		width: 60%;
	}
	input[type="submit"]{
		width: 30%;
	}
}
@media all and (max-width:450px) { 
	h1{
		font-size: 1.2em;
		display: inline-block;
	}
	h1 span{
		display: block; 
		font-size: 0.7em;
	}
	header{
		padding: 0.2em 0.5em;
	}
	#botonOpciones{
		display: inline-block;
	}
	#chat{
		padding-top: 0;
		width: 98%;
	}
	#chat article{
		padding: 0 0.5em;
	}
	#option{
		border-radius:0;
		opacity:0;
		float: left;
		height: 0;
		left: 0;
		margin: 45px 0 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}
}
@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}
